doctype
html(lang='en')
    head
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/sidebar.css')
        include ../includes/header.pug

        
        script.
            var url = !{JSON.stringify(url)}
            var key = !{JSON.stringify(key)}
            var guild = !{JSON.stringify(guild)}
            var roles = !{JSON.stringify(roles)}
            var dbGuild = !{JSON.stringify(dbGuild)}
            var dbUser = !{JSON.stringify(dbUser)}
            var admin = !{JSON.stringify(admin)}
            var guildPrefix = !{JSON.stringify(guildPrefix)}
            var userPrefix = !{JSON.stringify(userPrefix)}



        script(src='/js/guild.js', defer)
        script(src='/js/submit.js', defer)
        script(src='/js/sidebar.js', defer)
        

    body
        include ../includes/sidebar.pug

        #sidebarExtension.bg-light
            header.text-center.pt-4#overview
                .large-icon.bg-white.round
                    if guild.icon
                        img.round(src=guild.iconURL({size: 128, dynamic: true}), alt=guild.name)
                    else
                        p.abbr #{guild.nameAcronym}
                h4.pt-2 #{guild.name}

            .tabs.navbar-nav
                .category Modules
                a#qof.cursor-pointer(href='#') #[i.fas.fa-gavel.pr-1.text-muted] Quality of Life
                a#automod.cursor-pointer(href='#') #[i.fas.fa-gavel.pr-1.text-muted] Auto-mod
                a#economy.cursor-pointer(href='#') #[i.fas.fa-coins.pr-1.text-muted] Economy
                a#general.cursor-pointer(href='#') #[i.fas.fa-star.pr-1.text-muted] General
                a#music.cursor-pointer(href='#') #[i.fas.fa-music.pr-1.text-muted] Music

        include ../includes/navbar.pug
 
        include modules/qof
        include modules/overview
        include modules/auto-mod
        include modules/economy
        include modules/general
        include modules/music