doctype
html(lang='en')
    head
        include ../includes/header.pug

        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/sidebar.css')
        //cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css
        link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css')

        script(type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js', defer)
        script(src='https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js', defer)
        script(src='/js/guild.js', defer)
        script(src='/js/submit.js', defer)
        script(src='/js/sidebar.js', defer)
        
        
        script.
            var url = !{JSON.stringify(url)}
            var key = !{JSON.stringify(key)}
            var guild = !{JSON.stringify(guild)}
            var roles = !{JSON.stringify(roles)}

            var members = !{JSON.stringify(members)}
            var dbGuild = !{JSON.stringify(dbGuild)}
            var dbUser = !{JSON.stringify(dbUser)}
            var admin = !{JSON.stringify(admin)}
            var guildPrefix = !{JSON.stringify(guildPrefix)}

            var userPrefix = !{JSON.stringify(userPrefix)}
            var rep = !{JSON.stringify(rep)}

            

    body
        include ../includes/sidebar.pug

        #sidebarExtension.bg-light
            header.text-center.pt-4#overview
                .large-icon.bg-white.round
                    if guild.icon
                        img.round(src=guild.iconURL({size: 128, dynamic: true}), alt=guild.name)
                    else
                        p.abbr #{guild.nameAcronym}
                h4.pt-2 #{guild.name}

            .tabs.navbar-nav
                .category Modules
                a#qof.cursor-pointer(href='#') #[i.fas.fa-hand-holding-heart.text-muted] Quality of Life
                a#autorole.cursor-pointer(href='#') #[i.fas.fa-gavel.pr-1.text-muted] Autorole Messages
                //- a#automod.cursor-pointer(href='#') #[i.fas.fa-gavel.pr-1.text-muted] Auto-mod
                //- a#economy.cursor-pointer(href='#') #[i.fas.fa-coins.pr-1.text-muted] Economy
                //- a#general.cursor-pointer(href='#') #[i.fas.fa-star.pr-1.text-muted] General
                //- a#music.cursor-pointer(href='#') #[i.fas.fa-music.pr-1.text-muted] Music

        include ../includes/navbar.pug
 
        include server-modules/qof
        include server-modules/overview
        //- include server-modules/auto-mod
        //- include server-modules/economy
        //- include server-modules/general
        //- include server-modules/music
        include server-modules/autorole