mixin category(name, icon, sections, exactCategory)
    //- li.list-group-item(id = name.toLowerCase()) #[i(class=icon)] #{name}  
    //-     p.fas.fa-caret-down
    .card.categoryCard.text-center(exactCategory= `${exactCategory}`)
        div(id=`${exactCategory}Card`).card-header
            h5.mb-0
                div.collapsed.categoryButton(id=`${exactCategory}CategoryButton` data-toggle='collapse' data-target=`#${exactCategory}Collapse` aria-expanded='true' aria-controls=`${exactCategory}Collapse`) #[i(class=icon)] #{name}      
                    .fas.fa-caret-down
        div.collapse(id=`${exactCategory}Collapse` aria-labelledby=`${exactCategory}Card` data-parent='#accordion')
            .card-body
                ul.list-group.categories
                    each section in sections
                        li.list-group-item.categoryItem(exactCategory= `${exactCategory}` subCategory= `${section}`) #{section}

mixin command(command)
    li.list-group-item.commands(class=command.subsection class=command.category.split(' ').join('-pp-') id=command.title) #{command.title}