
#sidebarContainer.float-left.bg-light.d-flex.flex-column.justify-content-center.bootstrap-demo
    #sidebar
        a(href='/dashboard')
            .icon.round.shadow
                img.round(alt=user.username, src=user.avatarUrl(64))
        hr
        each guild in guilds
            a(href='/servers/' + guild.id)
                .icon.shadow.round.my-2(data-toggle='tooltip', data-boundary='window', data-container= 'body', data-placement='right', title= guild.name)
                    if guild.icon
                        img.round(alt=guild.name, src=guild.iconURL({dynamic: true, size: 64}))
                    else
                        span.text-center.abbr #{guild.nameAcronym}
        a
            span.icon.my-2.align-middle
                p.text-success.text-center.my-3(href='/invite' data-toggle='tooltip' data-boundary='window' data-container= 'body' data-placement='right' title='Add bot to server!')
                    i.fas.fa-plus
    .hamburger.px-1.bg-light.text-center
        i.fas.fa-bars#hamburgerSurround